<html lang="en-US">

<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />
	<meta charset="utf-8">

	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="css/style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="css/custom.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />


	<title>Homepage</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
    ============================================= -->
		<div id="top-bar">
			<div class="container">

				<div class="row justify-content-between align-items-center">
					<div class="col-12 col-md-auto">
						<p class="mb-0 py-2 text-center text-md-start">
							<span>2560 NETWORK & WEB DATA TECHNLGIES FINAL PRJECT | </span><strong>Authors: </strong><strong>Yo-Hsin</strong> <span
								class="middot">&middot;</span>
							<strong>Mawadah </strong><span class="middot">&middot;</span><strong>Edgar</strong><span class="middot">&middot;</span><strong>Yanyan</strong>
						</p>
					</div>

					<div class="col-12 col-md-auto">

						<!-- Top Links
                    ============================================= -->
						<div class="top-links on-click">
							<ul class="top-links-container">

								<li class="top-links-item"><a href="/login-register">Customer</a>
								</li>
								<li class="top-links-item"><a href="/login-manager">Manager</a>
								</li>
							</ul>
						</div><!-- .top-links end -->

					</div>
				</div>

			</div>
		</div><!-- #top-bar end -->

		<header id="header" class="header-size-sm">
			<div class="container">
				<div class="header-row flex-column flex-lg-row justify-content-center justify-content-lg-start">

					<!-- Logo
                ============================================= -->
					<div id="logo" class="me-0 me-lg-auto">
						<a class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/mylogo.jpg"
								alt="Canvas Logo"></a>
						<a class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="images/mylogo@2x.jpg"
								alt="Canvas Logo"></a>
					</div><!-- #logo end -->

					<div class="header-misc mb-4 mb-lg-0 order-lg-last">

						<ul class="header-extras me-0 me-lg-4">
							<li>
								<i class="i-plain icon-thumbs-up2 m-0"></i>
								<div class="he-text">
									Original Brands
									<span>100% Guaranteed</span>
								</div>
							</li>
							<li>
								<i class="i-plain icon-truck2 m-0"></i>
								<div class="he-text">
									Free Shipping
									<span>for every order</span>
								</div>
							</li>
							<li>
								<i class="i-plain icon-undo m-0"></i>
								<div class="he-text">
									Return Easily
									<span>Completely Free</span>
								</div>
							</li>
						</ul>

					</div>

				</div>
			</div>

			<div id="header-wrap" class="border-top border-f5">
				<div class="container">
					<div class="header-row justify-content-between">

						<div id="primary-menu-trigger">
							<svg class="svg-trigger" viewBox="0 0 100 100">
								<path
									d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20">
								</path>
								<path d="m 30,50 h 40"></path>
								<path
									d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20">
								</path>
							</svg>
						</div>

						<!-- Primary Navigation
                    ============================================= -->
						<nav class="primary-menu">

							<ul class="menu-container">
								<li class="menu-item"> 
									<a onclick="header_home_fun(this)" id="header_home" class="menu-link" href="#">
										<div>Home</div>
									</a>
								</li>
								<li class="menu-item">
									<a onclick="header_dresses_fun(this)" class="menu-link" href="#">
										<div>Dresses</div>
									</a>
								</li>
								<li class="menu-item">
									<a onclick="header_tops_fun(this)" class="menu-link" href="#">
										<div>Tops</div>
									</a>
								</li>
								<li class="menu-item">
									<a onclick="header_jeans_fun(this)" class="menu-link" href="#">
										<div>Jeans</div>
									</a>
								</li>
								<li class="menu-item">
									<a onclick="header_pants_fun(this)" class="menu-link" href="#">
										<div>Pants</div>
									</a>
								</li>
								<li class="menu-item">
									<a onclick="header_skirts_fun(this)" class="menu-link" href="#">
										<div>Skirts</div>
									</a>
								</li>
								<li class="menu-item"><a class="menu-link" href="/login-register">
										<div>Login</div>
									</a></li>
							</ul>

						</nav><!-- #primary-menu end -->

					</div>

				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header><!-- #header end -->

		<!-- Content
    ============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<div class="row align-items-stretch gutter-20 mb-5 min-vh-60">
						<div class="col-xl-8 min-vh-50">
							<div class="fslider h-100" data-arrows="false">
								<div class="flexslider">
									<div class="slider-wrap">
										<div class="slide">
											<a href="/shop">
												<img src="images/shop/slider/1.jpg" alt="Shop Image">
											</a>
										</div>
										<div class="slide">
											<a href="/shop">
												<img src="images/shop/slider/2.jpg" alt="Shop Image">
											</a>
										</div>
										<div class="slide">
											<a href="/shop">
												<img src="images/shop/slider/3.jpg" alt="Shop Image">
											</a>
										</div>
										<div class="slide">
											<a href="/shop">
												<img src="images/shop/slider/4.jpg" alt="Shop Image">
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-4">
							<div class="row align-items-stretch gutter-20 min-vh-25 h-100">
								<div class="col-12 col-md-6 col-xl-12 min-vh-25 min-vh-md-0">
									<a href="/shop" class="grid-inner d-block h-100"
										style="background-image: url('images/shop/banners/7.jpg');"></a>
								</div>

							</div>
						</div>
					</div>

				</div>
				<div class="container">
					<div class="row col-mb-30 gutter-50 mb-4">
						<div class="col-md-6">
							<div class="card">
								<div class="card-body" style="padding-left: 40px">
									Returning customer?<a href="/login-register" class="leftmargin-sm">Click here to
										login</a>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="card">
								<div class="card-body" style="padding-left: 40px">
									New customer?<a href="/login-register" class="leftmargin-sm">Click here to
										register</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="container">

					<div class="row justify-content-center col-mb-50 mb-0">
						<div class="col-sm-6 col-lg-4">
							<div class="feature-box text-center media-box fbox-bg">
								<div class="fbox-media">
									<img src="images/shop/banners/10.jpg" alt="Image">
								</div>
								<div class="fbox-content">
									<h3>Men's Footwear<span class="subtitle">Flat 50% Off*</span></h3>
									<p><a href="/shop" class="btn btn-secondary">Shop Now</a></p>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-lg-4">
							<div class="feature-box text-center media-box fbox-bg">
								<div class="fbox-media">
									<img src="images/shop/banners/11.jpg" alt="Image">
								</div>
								<div class="fbox-content">
									<h3>Latest Product Arrivals<span class="subtitle">New Dress Designs Available</span>
									</h3>
									<p><a href="/shop" class="btn btn-secondary">Check New Arrivals</a></p>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-lg-4">
							<div class="feature-box text-center media-box fbox-bg">
								<div class="fbox-media">
									<img src="images/shop/banners/12.jpg" alt="Image">
								</div>
								<div class="fbox-content">
									<h3>The Style Blog<span class="subtitle">Fashion Tips from Experts</span></h3>
									<p><a href="/shop" class="btn btn-secondary">Browse Videos</a></p>
								</div>
							</div>
						</div>
					</div>

					<div class="row justify-content-center col-mb-50">
						<div class="col-sm-6 col-lg-4">
							<div class="fancy-title title-border">
								<h4>Recently Arrived</h4>
							</div>

							<div class="posts-sm row col-mb-30" id="recent-shop-list-sidebar">
								<div class="entry col-12">
									<div class="grid-inner row g-0">
										<div class="col-auto">
											<div class="entry-image">
												<a href="/login-register"><img src="images/shop/small/1.jpg"
														alt="Image"></a>
											</div>
										</div>
										<div class="col ps-3">
											<div class="entry-title">
												<h4><a href="/login-register">Blue Round-Neck T-Shirt</a></h4>
											</div>
											<div class="entry-meta no-separator">
												<ul>
													<li class="color">$29.99</li>
													<li><i class="icon-star3"></i><i class="icon-star3"></i><i
															class="icon-star3"></i><i class="icon-star3"></i><i
															class="icon-star-half-full"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="entry col-12">
									<div class="grid-inner row g-0">
										<div class="col-auto">
											<div class="entry-image">
												<a href="/login-register"><img src="images/shop/small/6.jpg"
														alt="Image"></a>
											</div>
										</div>
										<div class="col ps-3">
											<div class="entry-title">
												<h4><a href="/login-register">Checked Short Dress</a></h4>
											</div>
											<div class="entry-meta no-separator">
												<ul>
													<li class="color">$23.99</li>
													<li><i class="icon-star3"></i><i class="icon-star3"></i><i
															class="icon-star3"></i><i class="icon-star-half-full"></i><i
															class="icon-star-empty"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="entry col-12">
									<div class="grid-inner row g-0">
										<div class="col-auto">
											<div class="entry-image">
												<a href="/login-register"><img src="images/shop/small/7.jpg"
														alt="Image"></a>
											</div>
										</div>
										<div class="col ps-3">
											<div class="entry-title">
												<h4><a href="/login-register">Light Blue Denim Dress</a></h4>
											</div>
											<div class="entry-meta no-separator">
												<ul>
													<li class="color">$19.99</li>
													<li><i class="icon-star3"></i><i class="icon-star3"></i><i
															class="icon-star3"></i><i class="icon-star-empty"></i><i
															class="icon-star-empty"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="entry col-12">
									<div class="grid-inner row g-0">
										<div class="col-auto">
											<div class="entry-image">
												<a href="/login-register"><img src="images/shop/small/9.jpg"
														alt="Image"></a>
											</div>
										</div>
										<div class="col ps-3">
											<div class="entry-title">
												<h4><a href="/login-register">Slim Fat Chinos</a></h4>
											</div>
											<div class="entry-meta no-separator">
												<ul>
													<li class="color">$24.99</li>
													<li><i class="icon-star3"></i><i class="icon-star3"></i><i
															class="icon-star3"></i><i class="icon-star3"></i><i
															class="icon-star-empty"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>

						<div class="col-sm-6 col-lg-4">
							<div class="fancy-title title-border">
								<h4>Popular Products</h4>
							</div>

							<div class="posts-sm row col-mb-30" id="popular-shop-list-sidebar">
								<div class="entry col-12">
									<div class="grid-inner row g-0">
										<div class="col-auto">
											<div class="entry-image">
												<a href="/login-register"><img src="images/shop/small/3.jpg"
														alt="Image"></a>
											</div>
										</div>
										<div class="col ps-3">
											<div class="entry-title">
												<h4><a href="/login-register">Round-Neck T-Shirt</a></h4>
											</div>
											<div class="entry-meta no-separator">
												<ul>
													<li class="color">$15</li>
													<li><i class="icon-star3"></i><i class="icon-star3"></i><i
															class="icon-star3"></i><i class="icon-star3"></i><i
															class="icon-star3"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="entry col-12">
									<div class="grid-inner row g-0">
										<div class="col-auto">
											<div class="entry-image">
												<a href="/login-register"><img src="images/shop/small/10.jpg"
														alt="Image"></a>
											</div>
										</div>
										<div class="col ps-3">
											<div class="entry-title">
												<h4><a href="/login-register">Green Trousers</a></h4>
											</div>
											<div class="entry-meta no-separator">
												<ul>
													<li class="color">$19</li>
													<li><i class="icon-star3"></i><i class="icon-star3"></i><i
															class="icon-star-empty"></i><i
															class="icon-star-empty"></i><i class="icon-star-empty"></i>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="entry col-12">
									<div class="grid-inner row g-0">
										<div class="col-auto">
											<div class="entry-image">
												<a href="/login-register"><img src="images/shop/small/11.jpg"
														alt="Image"></a>
											</div>
										</div>
										<div class="col ps-3">
											<div class="entry-title">
												<h4><a href="/login-register">Silver Chrome Watch</a></h4>
											</div>
											<div class="entry-meta no-separator">
												<ul>
													<li class="color">$34.99</li>
													<li><i class="icon-star3"></i><i class="icon-star3"></i><i
															class="icon-star3"></i><i class="icon-star-half-full"></i><i
															class="icon-star-empty"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="entry col-12">
									<div class="grid-inner row g-0">
										<div class="col-auto">
											<div class="entry-image">
												<a href="/login-register"><img src="images/shop/small/4.jpg"
														alt="Image"></a>
											</div>
										</div>
										<div class="col ps-3">
											<div class="entry-title">
												<h4><a href="/login-register">Black Polo T-Shirt</a></h4>
											</div>
											<div class="entry-meta no-separator">
												<ul>
													<li class="color">$17.99</li>
													<li><i class="icon-star3"></i><i class="icon-star3"></i><i
															class="icon-star3"></i><i class="icon-star3"></i><i
															class="icon-star-half-full"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>

						<div class="col-sm-6 col-lg-4">
							<div class="fancy-title title-border">
								<h4>Recommended for You</h4>
							</div>

							<div class="posts-sm row col-mb-30" id="recommended-shop-list-sidebar">
								<div class="entry col-12">
									<div class="grid-inner row g-0">
										<div class="col-auto">
											<div class="entry-image">
												<a href="/login-register"><img src="images/shop/small/8.jpg"
														alt="Image"></a>
											</div>
										</div>
										<div class="col ps-3">
											<div class="entry-title">
												<h4><a href="/login-register">Pink Printed Dress</a></h4>
											</div>
											<div class="entry-meta no-separator">
												<ul>
													<li class="color">$21</li>
													<li><i class="icon-star3"></i><i class="icon-star3"></i><i
															class="icon-star3"></i><i class="icon-star3"></i><i
															class="icon-star-half-full"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="entry col-12">
									<div class="grid-inner row g-0">
										<div class="col-auto">
											<div class="entry-image">
												<a href="/login-register"><img src="images/shop/small/5.jpg"
														alt="Image"></a>
											</div>
										</div>
										<div class="col ps-3">
											<div class="entry-title">
												<h4><a href="/login-register">Blue Round-Neck T-Shirt</a></h4>
											</div>
											<div class="entry-meta no-separator">
												<ul>
													<li class="color">$19.99</li>
													<li><i class="icon-star3"></i><i class="icon-star3"></i><i
															class="icon-star3"></i><i class="icon-star-empty"></i><i
															class="icon-star-empty"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="entry col-12">
									<div class="grid-inner row g-0">
										<div class="col-auto">
											<div class="entry-image">
												<a href="/login-register"><img src="images/shop/small/12.jpg"
														alt="Image"></a>
											</div>
										</div>
										<div class="col ps-3">
											<div class="entry-title">
												<h4><a href="/login-register">Men Aviator Sunglasses</a></h4>
											</div>
											<div class="entry-meta no-separator">
												<ul>
													<li class="color">$14.99</li>
													<li><i class="icon-star3"></i><i class="icon-star3"></i><i
															class="icon-star-half-full"></i><i
															class="icon-star-empty"></i><i class="icon-star-empty"></i>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="entry col-12">
									<div class="grid-inner row g-0">
										<div class="col-auto">
											<div class="entry-image">
												<a href="/login-register"><img src="images/shop/small/2.jpg"
														alt="Image"></a>
											</div>
										</div>
										<div class="col ps-3">
											<div class="entry-title">
												<h4><a href="/login-register">Unisex Sunglasses</a></h4>
											</div>
											<div class="entry-meta no-separator">
												<ul>
													<li class="color">$17.99</li>
													<li><i class="icon-star3"></i><i class="icon-star3"></i><i
															class="icon-star3"></i><i class="icon-star3"></i><i
															class="icon-star-half-full"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="clear"></div>
					<div class="line"></div>

					<div id="oc-clients-full" class="owl-carousel image-carousel carousel-widget" data-margin="30"
						data-nav="false" data-autoplay="5000" data-pagi="false" data-items-xs="2" data-items-sm="3"
						data-items-md="4" data-items-lg="5" data-items-xl="7">

						<div class="oc-item"><a href="#"><img src="images/clients/brand_adidas.jpg" alt="Clients"></a>
						</div>
						<div class="oc-item"><a href="#"><img src="images/clients/brand_calvinklein.jpg"
									alt="Clients"></a></div>
						<div class="oc-item"><a href="#"><img src="images/clients/brand_core10.jpg" alt="Clients"></a>
						</div>
						<div class="oc-item"><a href="#"><img src="images/clients/brand_cross.jpg" alt="Clients"></a>
						</div>
						<div class="oc-item"><a href="#"><img src="images/clients/brand_larkro.jpg" alt="Clients"></a>
						</div>
						<div class="oc-item"><a href="#"><img src="images/clients/brand_levis.jpg" alt="Clients"></a>
						</div>
						<div class="oc-item"><a href="#"><img src="images/clients/brand_theory.jpg" alt="Clients"></a>
						</div>
						<div class="oc-item"><a href="#"><img src="images/clients/brand_tommyhilfiger.jpg"
									alt="Clients"></a></div>
						<div class="oc-item"><a href="#"><img src="images/clients/brand_calvinklein.jpg"
									alt="Clients"></a></div>
						<div class="oc-item"><a href="#"><img src="images/clients/brand_levis.jpg" alt="Clients"></a>
						</div>
						<div class="oc-item"><a href="#"><img src="images/clients/brand_theory.jpg" alt="Clients"></a>
						</div>
						<div class="oc-item"><a href="#"><img src="images/clients/brand_adidas.jpg" alt="Clients"></a>
						</div>
						<div class="oc-item"><a href="#"><img src="images/clients/brand_levis.jpg" alt="Clients"></a>
						</div>
						<div class="oc-item"><a href="#"><img src="images/clients/brand_core10.jpg" alt="Clients"></a>
						</div>

					</div>


				</div>

				<div class="si-sticky si-sticky-right d-none d-lg-block" style="z-index: 399;">
					<a href="#" class="social-icon si-colored si-facebook" data-animate="bounceInRight">
						<i class="icon-facebook"></i>
						<i class="icon-facebook"></i>
					</a>
					<a href="#" class="social-icon si-colored si-twitter" data-animate="bounceInRight" data-delay="100">
						<i class="icon-twitter"></i>
						<i class="icon-twitter"></i>
					</a>
					<a href="#" class="social-icon si-colored si-pinterest" data-animate="bounceInRight"
						data-delay="200">
						<i class="icon-pinterest"></i>
						<i class="icon-pinterest"></i>
					</a>
					<a href="#" class="social-icon si-colored si-instagram" data-animate="bounceInRight"
						data-delay="300">
						<i class="icon-instagram"></i>
						<i class="icon-instagram"></i>
					</a>
					<a href="#" class="social-icon si-colored si-gplus" data-animate="bounceInRight" data-delay="600">
						<i class="icon-gplus"></i>
						<i class="icon-gplus"></i>
					</a>
					<a href="#" class="social-icon si-colored si-rss" data-animate="bounceInRight" data-delay="700">
						<i class="icon-rss"></i>
						<i class="icon-rss"></i>
					</a>
				</div>
			</div>
		</section><!-- #content end -->

		<!-- Footer
    ============================================= -->
		<footer id="footer" class="dark">
			<!-- Copyrights
        ============================================= -->
			<div id="copyrights">
				<div class="container">

					<div class="row col-mb-30">

						<div class="col-md-6 text-center text-md-start">
							2560 NETWORK & WEB DATA TECHNLGIES FINAL PRJECT--------------------------------<br>
						</div>

						<div class="col-md-6 text-center text-md-end">

							<span>Authors: </span>Yo-Hsin<span class="middot">&middot;</span> Mawadah<span
								class="middot">&middot;</span> Edgar<span class="middot">&middot;</span> Yanyan
						</div>

					</div>

				</div>
			</div><!-- #copyrights end -->
		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- JavaScripts
============================================= -->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<!-- Footer Scripts
============================================= -->
	<script src="js/functions.js"></script>

	<script>

		function header_home_fun() {
			window.location.href = "/homepage";
		}

		function header_dresses_fun() {
			window.location.href = "/shop?type=dresses";
		}

		function header_tops_fun() {
			window.location.href = "/shop?type=tops";
		}
		function header_jeans_fun() {
			window.location.href = "/shop?type=jeans";
		}
		function header_pants_fun() {
			window.location.href = "/shop?type=pants";
		}
		function header_skirts_fun() {
			window.location.href = "/shop?type=skirts";
		}

	</script>

</body>

</html>